#loginScreen{
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #D1D3F1;
    box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    border-radius: 5%;
    top: 30vh;
    height: 50vh;
    width: 85vh;
    left: 50%;
    transform: translateX(-50%);
}

#loginToRegisterLabel{
    position: absolute;
    color: var(--primaryColor);
    font-size: 2.5vh;
    bottom: 1.5vh;
}