.CategoryContainer{
    background-color: #D1D3F1;
    border-radius: 10px;
    height: 10vh;
    width: 100%;
    align-items: center;
    display: flex;
    margin-bottom: 1.5%;
    cursor: pointer;
}

.IconCategory{
    position: relative;
    border-radius: 15.12px;
    margin-left: 16%;
    height: 7vh;
    max-height: 70px;
    width: 8.5vw;
    max-width: 80px;
    flex-shrink: 0; 
    align-items: center;
    justify-content: center;
    display: flex;
}

.TypeCategory{
    position: relative;
    margin-left: 3.5%;
    font-family: "Open Sans";
    font-size: 3.5vh;
    color: #2E1E43;
    cursor: pointer;
}

#alimentationCategory{
    background: #CC2E43;
}

#leisureCategory{
    background: #F7FFA1;
}

#clothesCategory{
    background: #70B6F6;
}

#marketCategory{
    background: #5AF961;
}

#transportCategory{
    background: #A2A0FA; 
}

#healthCategory{
    background: #FF6928; 
}

#travelCategory{
    background: #C728FF; 
}

#petsCategory{
    background: #2D28FF; 
}

#homeCategory{
    background: #28B2FF;
}

#accountsCategory{
    background: #28FF64;
}

#donationCategory{
    background: #AD3D3D; 
}

#educationCategory{
    background: #4D91B8; 
}

#taxCategory{
    background: #FFEA28; 
}

#investmentCategory{
    background: #FF6928; 
}

#exchangeCategory{
    background: #0FBB00; 
}

#exitOthersCategory{
    background: #28FFBF; 
}

#cashbackCategory{
    background: #CC2E2E; 
}

#salesCategory{
    background: #EBEE61;
}

#bonusCategory{
    background: #70B6F6; 
}

#reversalCategory{
    background: #A2A0FA; 
}

#incomeCategory{
    background: #C728FF; 
}

#performanceCategory{
    background: #2D28FF; 
}

#balanceCorrectionCategory{
    background: #C4E977;
}

#entryOthersCategory{
    background: #A6EB15; 
}