#budgetContainer{
    position: absolute;
    background-color: #D1D3F1;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    height: 30.6vh;
    width: 43.9vw;
    top: 56.3%;
    left: 5.5%;
    cursor: pointer;
}

#labelBudget{
    position: absolute;
    font-family: "Open Sans";
    height: 3vh;
    top: 3.90vh;
    color: #2E1E43;
}