.ContainerOfContainers{
    position: absolute;
    width: 50%;
    height: fit-content;
    left: 50%;
    transform: translateX(-50%);
    top: 51%;
    align-items: center;
    justify-content: center;
}

.Warning{
    position: absolute;
    display: none;
    font-family: "Open Sans";
    font-size: 3vh;
    color: #D1D3F1;
    bottom: 50%;
}