.ContainerOfContainers{
    position: absolute;
    width: 90%;
    height: fit-content;
    left: 10%;
    top: 51%;
}

.Warning{
    position: absolute;
    display: none;
    font-family: "Open Sans";
    font-size: 3vh;
    color: #D1D3F1;
    bottom: 50%;
}