#editDiv{
    position: absolute;
    width: 6.25vh;
    height: 6.25vh;
    background-color: var(--secondaryColor);
    top: 15.72vh;
    right: 3.263vw;
    border-radius: 1vh;
}

.EditBud{
    position: absolute;
    width: 50%;
    height: 50%;
    align-items: center;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}