#transactionCreateCategory{
    position: absolute;
    height: 10.44vh;
    width: 53.33vw;
    bottom: 18.34vh;
}

#transactionCategoryLabel{
    position: absolute;
    font-size: 2.5vh;
}

#transactionSelectCategories{
    position: absolute;
    font-size: 2.5vh;
    height: 6.25vh;
    width: 53.33vw;
    bottom: 0;
    border-radius: 1.5cqmin;
    padding: 2px;
    border-style: hidden;
    outline: none;
    box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}