#containerAux{
    position: absolute;
    width: 65.13vw;
    left: 50%;
    transform: translateX(-50%);
    top: 17.67vh;
}

#transactionCreateconatiner{
    position: absolute;
    background-color: var(--secondaryColor);
    width: 65.13vw;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
}