#transactionContainer{
    position: absolute;
    background-color: #D1D3F1;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    height: 63.8vh;
    width: 43.9vw;
    top: 23.1%;
    right: 5.5%;
}

#linkTransactionHistory{
    position: absolute;
    height: 5.95vh;
    width: 32.63vw;
    max-width: 350px;
    bottom: 14.18vh;
    cursor: pointer;
}