#transactionContainer{
    position: absolute;
    background-color: #D1D3F1;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    height: 63.8vh;
    width: 43.9vw;
    top: 23.1%;
    right: 5.5%;
}

#linkTransactionHistory, #LinkGraphics{
    position: absolute;
    height: 5.95vh;
    width: 32.63vw;
    max-width: 350px;
    cursor: pointer;
}

#linkTransactionHistory{
    bottom: 14.18vh;
}

#LinkGraphics{
    bottom: 5.56vh;
}

#RevenueExpenseHome{
    position: absolute;
    left: 6vw;
    top: 25.60vh;
}

#labelBalanceHome{
    position: absolute;
    font-size: 3vh;
    top: 5.07vh;
}

#labelValueBalanceHome{
    position: absolute;
    font-size: 6vh;
    top: 9vh;
}

@media (max-width: 800px) {
    #RevenueExpenseHome{
        left: 1vw;
    }
}