#transactionContainer{
    position: absolute;
    background-color: #D1D3F1;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    height: 63.8vh;
    width: 43.9vw;
    top: 23.1%;
    right: 5.5%;
}

#labelTransaction{
    position: relative;
    font-family: "Open Sans";
    color: #2E1E43;
}