#containerBoxes{
    position: absolute;
    width: 93.735vw;
    max-width: 1033.5px;
    height: fit-content;
    justify-content: start;
    display: flex;
    flex-wrap: wrap;
    top: 33.5vh;
    left: 50%;
    transform: translateX(-50%);
}

#plus{
    position: relative;
    background-color: #D1D3F1;
    width: 22.77vw;
    max-width: 250px;
    height: 23.82vh;
    margin: 0.3vw;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
}

#icon{
    height: 7vh;
}