#graphicsContainer{
    position: absolute;
    background-color: var(--secondaryColor);
    height: 77.05vh;
    width: 45.55vw;
    bottom: 6.05vh;
    left: 6.18vw;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
}