#createBoxContainer{
    position: absolute;
    background-color: var(--secondaryColor);
    width: 69.93vw;
    max-width: 750px;
    height: 73.63vh;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8.39vh;
    border-radius: 15px;
}