:root{
  --primaryColor: #2E1E43;
  --secondaryColor: #D1D3F1;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primaryColor);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}