

#divTitle{
    position: absolute;
}

#totalBud{
    position: absolute;
    color: white;
    width: 26.45vw;
    height: 5.66vh;
    top: 18.94vh;
    left: 2.77vw;
    font-size: 3.33vw;
    font-family: "Open Sans";
}