#backIcon{
    position: fixed;
    width: 5vw;
    height: 6vh;
    top: 3%;
    left: 2%;
    cursor: pointer;
    z-index: 7;
}

#routeCategories, #routeCalculators, #routeHome{
    position: fixed;
    color: #2E1E43;
    font-family: "Open Sans";
    font-size: 3vh;
    z-index: 3;
    text-decoration: underline;
    top: 5.85%;
    transform: translateY(-50%);
    cursor: pointer;
}

#routeCategories{
    right: 18%;
}

#routeCalculators{
    right: 3%;
}

#routeHome{
    right: 31%;
}