.NavBar{
    align-items: center;
    display: flex;
    position: fixed;
    z-index: 3;
    background-color: #D1D3F1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    top: 0;
    height: 11.7%;
    width: 100vw;
}

.BackIcon{
    position: absolute;
    width: 4vw;
    height: 7vh;
    top: 3%;
    max-height: 6vh;
    min-height: 60px;
    max-width: 3vw;
    min-width: 30px;
    cursor: pointer;
    z-index: 4;
}

.LabelPage{
    font-family: "Open Sans";
    font-size: 22px;
    color: #2E1E43;
    padding-left: 7.5vw;
}