#boxHome{
    position: relative;
    height: 15vh;
    width: 10vw;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-right: 5px;
}

#boxHomeName{
    position: absolute;
    color: var(--primaryColor);
    font-size: 2vh;
    width: 7.5vw;
    top: 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#boxPercent{
    position: relative;
    font-size: 2.5vh;
    color: var(--primaryColor);
}